<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net471" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net471" />
  <package id="Npgsql" version="3.2.7" targetFramework="net471" />
  <package id="SqlKata" version="1.0.0-beta-458" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net471" />
</packages>